html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: roboto;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 50px auto 50px;
    grid-template-areas: "header" "content" "footer";
}

.header, .footer {
    display: flex;
    align-items: center;
    background-color: #2196f3;
    color: white;
    padding-left: 20px;
}

.header {
    grid-area: header;
}

.home-content {
    grid-area: content;
    display: grid;
    grid-template-rows: 40% 60%;
    grid-template-areas: "up" "bottom";
}

#up {
    grid-area: up;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #cfd8dc;
}

#up p {
    margin: 0;
    text-align: center;
    font-size: 0.9em;
}

#up p:first-of-type {
    font-size: 1.5em;
}

#up img {
    height: 50%;
}

#bottom {
    grid-area: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#fields {
    width: 90%;
    margin-top: 25px;
}

input {
    height: 35px;
    border: none;
}

input[type="text"], input[type="password"] {
    width: 100%;
    margin: 5px 0 5px 0;
    border-radius: 2px;
    background-color: #f1f5f7;
}

input[type="submit"] {
    width: 90%;
    margin-bottom: 30px;
    border-radius: 5px;
    color: white;
    background-color: #2196f3;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #218ef3;
}

.footer {
    grid-area: footer;
    font-size: 0.75em;
}

.shop-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#buttons input{
    display: inline-flex;
    border-radius: 0;
    width: 50%;
    color: white;
    justify-content: center;
    cursor: pointer;
}

#all {
    float: left;
    background-color: #219bf8;
}

#my {
    float: right;
    background-color: #2196f3;
}

#products {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #f8f8f8;
    overflow: auto;
}

#products::-webkit-scrollbar {
    width: 10px;
}
  
#products::-webkit-scrollbar-track {
    background: #f8f8f8; 
}

#products::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 5px;
}

#products::-webkit-scrollbar-thumb:hover {
    background: #aaa; 
}

.product {
    width: 95%;
    height: 200px;
    margin: 7.5px 0 7.5px 0;
    display: grid;
    background-color: white;
    grid-template-rows: 25px 25px 150px;
    grid-template-columns: 200px auto auto;
    grid-template-areas: 
        ". title ."
        ". desc ."
        ". time price";
}

.product * {
    margin: 0;
}

.title {
    grid-area: title;
    font-weight: bolder;
    margin: 10px 0 0 10px;
}

.desc {
    grid-area: desc;
    margin: 10px 0 0 10px;
}

.time {
    grid-area: time;
    align-self: end;
    margin: 0 0 10px 10px;
    font-size: 0.85em;
}

.price {
    grid-area: price;
    align-self: end;
    justify-self: end;
    font-weight: bolder;
    margin: 0 10px 10px 0;
}